body {
  font-family: "Poppins";
}

.navbar {
  height: 65px;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: white;
}

.fa {
  color: black;
}

.jumbotron h1 {
  margin-top: 48px;
  font-size: 48px;
  margin-bottom: 20px;
}

.farfoto {
  width: 240px;
  margin-bottom: 86px;
}

.tools1 {
  margin-bottom: 24px;
  margin-right: 24px;
}

.fa-pencil {
  font-size: 40px;
  margin: 12px 0px;
}

.fa-code {
  font-size: 40px;
  margin: 12px 10px;
}

footer {
  padding: 25px 5px;
}

.projects {
  padding: 72px 0px 96px 0px;
  background-color: white;
  margin-top: -10px;
}

.project h1 {
  text-align: left;
  color: #111111;
  letter-spacing: 15px;
  margin-bottom: 48px;
}

.portofolio {
  background-color: slateblue;
}

.contact-1 {
  padding: 72px 0px 96px 0px;
  background-color: blue;
  margin-top: 10px;
}

.btn-1 {
  border-radius: 24px;
  padding: 18px 24px;
  background-color: blue;
  border: 1px solid blue;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.email {
  border-radius: 50px;
  padding: 8px 32px;
  border: 2px solid blue;
  color: #111111;
  margin: 0;
  background-color: white;
}

.box {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.test {
  background-color: black;
}

.test2 {
  text-align: right;
  padding: 120px;
}

.test-3 {
  padding: 20px;
}
